* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


:root {
    --color-1: #F2F0D5;
    --color-2: #D9CD91;
    --color-3: #D9D0A7;
    --color-4: #594A1D;
    --color-5: #8C783B;
    --color-6: #3f3414;
}

body{
    background-color: var(--color-6) !important;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
}


/* NAVTOP */

.navTop {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.navTop div{
    width: 300px;
}

/* TOPREDES*/

.topRedes{
    height: 100%;
    text-align: center;
    font-size: 19px;
}

.topRedes a i {
    margin: 5px;
    color: var(--color-1);
}


.topRedes a i:hover{
    color: var(--color-2);
}


/* TOPLOGO */

.topLogo{
    display: flex;
    justify-content: center;
}

.topLogo a{
    margin: 15px 0;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-1);
}

.topLogo a:hover{
    color: var(--color-2);
}


/* TOPBUSCADOR */

.buscadorTexto{
    width: 250px;
}

.buscadorLupa{
    width: auto;
    background-color: transparent;
    border: none;
}

.buscadorLupa i{
    color: var(--color-1);
}

.buscadorLupa i:hover{
    color: var(--color-2);
}

/* MENU HAMBURGESA */

.menuHamburgesa {
    width: 150px;
    font-size: 13px;
    margin: 5px;
    color: var(--color-1);
    cursor: pointer;
    /* display: none; */

}

.menuHamburgesa i{
    display: flex;
    justify-content: center;
    color: var(--color-1);
}

.menuHamburgesa i:hover{
    color: var(--color-2);
}

#check {
    display: none;
}


/* NAVBAR */

.navBar {    
    width: 70%;
    margin: 0 auto;
    padding-top: 40px ;
    border-top: 0.5px solid var(--color-5);
    display: block;
    justify-content: space-around;
    list-style: none;
}

.navLink, .dropdown{
    display: flex;
    align-items: center;
}

.navLink a, .btn {
    font-size: 20px;
    text-decoration: none;
    color: var(--color-1);
    background-color: transparent;
    padding: 0.375rem 0.75rem ;
}

.btn-secondary:hover, .navLink a:hover {
    color: var(--color-2);
    background-color: transparent;
}

/* NAVBAR DROPDOWN */

.dropdown a{
    text-decoration: none;
    color: var(--color-1);
    background-color: var(--color-6);
    border: var(--color-6);
}

.dropdown a:hover {
    border-color: var(--color-5);
}

.redes-dropdown:active,
.redes-dropdown:focus,
.btn-secondary {
    box-shadow: none !important;
    border-color: transparent !important;
}

.dropdown-menu.show {
    background-color: var(--color-5);
    padding: 0px !important;
}

.dropdown-item {
    background-color: transparent !important;
}

.dropdown-item:hover {
    background-color: var(--color-2) !important;
    color: var(--color-6) !important;
    border-radius: 0.25rem;
}


/* RESPONSIVE PARA TABLETS */

@media (max-width: 1024px){
    

}

/* RESPONSIVE PARA CELULARES */

@media (max-width: 700px){ /*Esto va en 700px*/

    header {
        display: flex;
        flex-wrap: nowrap;
    }

    .navTop {
        display: inline;
    }

    .navTop div{
        width: 100%;
    }

    .topRedes {
        display: none;
    }

    .navBottom {
        /* display: inline; */
        text-align: end;
    }

    .b

    .navBar {
        display: none;
    }

    /* .navBottom {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    } */
    
}

/* .menuHamburgesa {
    display: block;
}

nav {
    width: 100%;
}

.navBar {
    position: fixed;
    width: 100%;
    height: 80vh;
    background-color: var(--color-4);
    border-top: none;
    padding-left: 0;
    display: block;
    right: -100%;
    transition: transform 1s;
}

.navLink, .dropdown{
    display: block;
}

.navLink a:hover, .navLink a:active{
    background: none;
}
#check:checked ~ .navBar {
    right: 0;
}
*/
