* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-1: #F2F0D5;
    --color-2: #D9CD91;
    --color-3: #D9D0A7;
    --color-4: #594A1D;
    --color-5: #8C783B;
    --color-6: #3f3414;
}

body{
    background-color: var(--color-6) !important;
}


/* HEADER */
header{
    display: flex;
    flex-direction: column;
}


/* NAVTOP */
.navTop {
    margin: auto 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTop div{
    width: 300px;
    text-align: center;
}


/* TOPREDES*/
.topRedes{
    font-size: 15px;
    display: flex;
    align-items: start;
    height: 70px;
    margin-top: 10px;
}

.topRedes a i {
    margin: 5px;
    color: var(--color-1);
}

.topRedes a i:hover{
    color: var(--color-2);
}


/* TOPLOGO */
.topLogo{
    display: flex;
    text-align: center;
}

.topLogo a{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-1);
}

.topLogo a:hover{
    color: var(--color-2);
}


/* TOPBUSCADOR */
.topBuscador{
    display: flex;
    justify-content: center;
    position: relative;
    height: 25px;
}

.buscadorTexto{
    width: 90%;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 0.8rem;
}

.buscadorTexto:focus{
    font-weight: normal;
}

.buscadorLupa{
    background-color: var(--color-2);
    padding: 0 15px;
    position: relative;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;;
}

.buscadorLupa:hover{
    color: var(--color-6);
}


/* MENU HAMBURGESA */

.topMenuHamburgesa{
    display: none;
}

.menuHamburgesa {
    font-size: 15px;
    margin: 5px;
    color: var(--color-1);
    cursor: pointer;
}

.menuHamburgesa i{
    display: flex;
    color: var(--color-1);
}

.menuHamburgesa i:hover{
    color: var(--color-2);
}

#check {
    display: none;
}


/* NAVBAR */
.navBar {    
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px;
    border-top: 0.5px solid var(--color-5);
    list-style: none;
    text-align: center;
}

.navLink, .dropdown{
    display: inline;
}

.navLink a{
    display: inline-block;
    height: 35px;
    font-size: 18px;
    margin: 0 10px;
    text-decoration: none;
    color: var(--color-1);
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    vertical-align: unset;
}

.btn-secondary:hover, .navLink a:hover {
    color: var(--color-2);
    background-color: transparent;
}


/* NAVBAR DROPDOWN */
.dropdown a{
    margin: 0;
    text-decoration: none;
    color: var(--color-1);
    background-color: var(--color-6);
    border: var(--color-6);
}

.dropdown a:hover {
    border-color: var(--color-5);
}

.redes-dropdown:active,
.redes-dropdown:focus,
.btn-secondary {
    box-shadow: none !important;
    border-color: transparent !important;
}

.dropdown-menu.show {
    background-color: var(--color-5);
    padding: 0px !important;
}

.dropdown-item {
    background-color: transparent !important;
}

.dropdown-item:hover {
    background-color: var(--color-2) !important;
    color: var(--color-6) !important;
    border-radius: 0.25rem;
}


/* RESPONSIVE PARA TABLETS */

@media (max-width: 1255px){
    
    .navTop div{
        width: 200px;
    }

    .topRedes{
        font-size: 16px;
    }

    .topLogo a{
        font-size: 40px;
    }

    .topBuscador{
        height: 25px;
    }

    .buscadorTexto{
        font-size: 0.7rem;
    }
    
    .buscadorLupa{ 
        font-size: 0.7rem;
    }

    .navBar{
        width: 90%;
    }

    .navLink a, .btn{
        font-size: 12px;
        height: auto;
    }
}



/* RESPONSIVE PARA CELULARES */

@media (max-width: 785px){

    header {
        display: flex;
        justify-content: space-around;
    }

    .navTop {
        margin: 10px 0 0 0;
        padding-bottom: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 0.5px solid var(--color-5);
    }
    
    .navTop div{
        display: flex;
        align-items: center; 
        justify-content: space-around;
    }

    .topLogo{
        margin-right: auto;
        width: auto;    
    }

    .topLogo a{
        font-size: 20px;
    }

    .buscadorTexto{
        height: 0.5rem;
    }

    .buscadorLupa{
        height: 20px;
        font-size: 0.5rem;
    }

    .topMenuHamburgesa{
        width: auto !important;
        margin-left: 5%;
    }

    .topRedes {
        display: none !important;
    }
    
    .navBar{
        display: none;
    }

    .navLink, .dropdown{
        margin-top: 20px;
        display: block;
        width: 100% !important;
    }

    .navBarHamburgesa {
        width: 100%;
        background-color: var(--color-2);
        padding-left: 0;
        position: absolute;
        left: 50%;
        top: -400px;
        margin-top: 51px;
        transform: translate(-50%, -50%);
    }

    .navBarHamburgesa:hover{
        background-color: var(--color-2);
    }
    
    #check:checked ~ .navBarHamburgesa {
        position: fixed;
        top: 175px;
    }
}
